/*

# nixディレクトリ
!nix/
!nix/**/*

# dotfiles
!/.config/starship.toml
!.config/nushell
.config/nushell/history.txt
!.config/nvim
!.config/mise
!.config/git/
!.bashrc

# github ssh
!.ssh/
.ssh/id_*
.ssh/known_hosts*
!.ssh/config

!.gitignore
!README.md
