/*

# nixディレクトリ
!nix/
!nix/**/*

# dotfiles
!.config/nushell
.config/nushell/history.txt
.config/systemd/*
!.config/nvim/lazy-lock.json
!.config/starship.toml
!.config/mise/*
!.bashrc

# github ssh
!.ssh/
.ssh/id_*
.ssh/known_hosts*
!.ssh/config

!.gitignore
!README.md
